.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input {
  display: inline-block;
  max-width: 80%;
  margin: 0 auto;
  vertical-align: middle;
}

.class-counter {
  width: 100%;
  margin: 10px auto;
  font-size: 15px;
}

.class-title {
  font-size: 45px;
}

.class-subject {
  font-size: 25px;
}

.class-desc {
  font-size: 17px;
}

.class-crns-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.crn-title {
  vertical-align: middle;
  font-size: 15px;
}

.back-button {
  font-size: 17px; 
}

.class-crn {
  font-size: 15px;
  list-style: none;
  float: left;
  margin-right: 7px;
}

form.login-form {
  text-align: right;
  height: 50px;
  padding: 8px 0;
}

.form-control.login-input {
  display: inline-block;
  width: 20%;
  margin-left: 7px;
}

.btn-toolbar {
  display: inline-block;
  float: right;
  margin-left: 7px;
}

.submitButton {
  display: inline-block;
}

.review-title {
  font-size: 30px;
  font-weight: bold;
}

.review-body {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 7px;
}

.results {
  max-width: 100%;
  text-align: left;
}